{% extends 'base.html' %}
{% block content %}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4>Already have an account?</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this
							is the</p>
						<a class="button button-account" href="login">Login Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner register_form_inner">
					<h3>Create an account</h3>
					<form class="row login_form" action="" id="contactForm" method="POST">
						{{ form.hidden_tag() }}
						<div class="col-md-12 form-group">
							{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.email(class="form-control form-control-lg",placeholder="Email") }}
							{% endif %}

						</div>
						<div class="col-md-12 form-group">
							{{ form.password.label(class="form-control-label") }}
							{% if form.password.errors %}
								{{ form.password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.password(class="form-control form-control-lg",placeholder="Password") }}
							{% endif %}
						</div>
						<div class="col-md-12 form-group">
							{{ form.confirm_password.label(class="form-control-label") }}
							{% if form.confirm_password.errors %}
								{{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.confirm_password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
							{% endif %}
						</div>
						{{form.submit (class="button button-register w-100",value="Register" )}}
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->

{%endblock%}