{% extends "base.html" %}
{% block content %}





<!--================Blog Area =================-->
<section class="blog_area single-post-area py-80px section-margin--small">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					<div class="col-lg-12">
						<div class="feature-img">
							<img class="img-fluid" src="{{ url_for('static',filename='img/blog/'+post.image) }}" alt="">
						</div>
					</div>
					<div class="col-lg-3  col-md-3">
						<div class="blog_info text-right">

							<ul class="blog_meta list">
								<li>
									<a href="#">{{ post.author }}
										<i class="lnr lnr-user"></i>
									</a>
								</li>
								<li>
									<a href="#">{{ post.date_posted }}
										<i class="lnr lnr-calendar-full"></i>
									</a>
								</li>
								<li>
									<a href="#">06 Comments
										<i class="lnr lnr-bubble"></i>
									</a>
								</li>
							</ul>

						</div>
					</div>
					<div class="col-lg-9 col-md-9 blog_details">
						<h2>{{ post.title}}</h2>
						<p class="excert">
							{{ post.content }}
						</p>
					</div>
				</div>
				<div class="comments-area">
					<h4> {{comments | length() }} comments</h4>
					{% for comment in comments %}
					<div class="comment-list">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="{{url_for('static',filename='img/blog/c5.jpg')}}" alt="">
								</div>
								<div class="desc">
									<h5>
										<a href="#">{{ comment.name }}</a>
									</h5>
									<p class="date">{{comment.date_posted}} </p>
									<p class="comment">
										{{comment.massege}}
									</p>
								</div>
							</div>

						</div>
					</div>
					{% endfor %}
				</div>
				{% if current_user.is_authenticated %}
				<div class="comment-form">

					<h4>Leave a Reply</h4>
					<form action="" method="post">
						<div class="form-group form-inline">
							<div class="form-group col-lg-6 col-md-6 name">
								<input type="text" class="form-control" name="name" id="name" placeholder="Enter Name"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
							</div>
							<div class="form-group col-lg-6 col-md-6 email">
								<input type="email" class="form-control" name="email" id="email" placeholder="Enter email address"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
						</div>
						<div class="form-group">
							<textarea id class="form-control mb-10" rows="5" name="massage" placeholder="Mаssege"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mаssege'"
								required=""></textarea>
						</div>
						<button>Post comment</button>
					</form>

				</div>
				{% endif %}
			</div>
		</div>
</section>
<!--================Blog Area =================-->
{%endblock%}